$color:red;

.navbar{
    background-color:blue;
    padding: 30px;
	display:flex;
	justify-content: space-around;
	height: 30px;
	border-radius: 10px;
}
a{
	color:black;
}




.hero{
	background-image: url(./images/billionphotos1025132.jpg);
    background-size:COVER;
	background-position: TOP;
	// height: 600px;
	
	
}
.Luxury-Apartment{
    padding-top: 50px;
	background-size: cover;
    background-position: center;
	color: $color;
	padding-left: 30px;

	h2{
		color: orangered;
		font-size: 5rem;
		margin: 0;
		text-shadow: 5px 10px 5px black;
	}

}

.portrait{
	display: flex;
	height: 300px;
	width: 450px;
	border: 5px solid $color;
	border-radius: 10px;
	margin-top: 100px;
	margin-bottom: 100px;
	
}


.photos{
	display: flex;
	justify-content: space-around;

}

	
.hero-img{
	width: 30vw;
	height: 300px;
	border: 5px solid $color;
	border-radius: 10px;
}

.footer{
	background-color: gray;
	height: 100px;
	display:flex;
	justify-content: space-around;
	border-radius: 10px;;
}


h2{
    color: orange;
	font-size:5rem;
	margin:0;
}

.read-button{
    background-color: orange;
    color: white;
}


   
 






























		//Mobile Breakpoint
		@media only screen and (min-width:480px){
			
			.navbar{
				background-color:blue;
	
			}

			
		}
		
	
		//Tablet Breakpoint
		@media only screen and (min-width:768px){
			
			.navbar{
				background-color:cyan;;
			}
		}

		//Desktop Breakpoint
		@media only screen and (min-width:1200px){
			
			.navbar{
				background-color:gray;

			}

		}




	
















